    body, p, td {font-family: verdana, arial, helvetica, sans-serif; font-size: 8pt; color: #000000;}
    hr {height: 1px;}
    .pagedesriptionbar {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: 10pt; color: #ffffff; background: #336699; background-color: #336699;}
    h1 {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: large;}
    h2 {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: medium;}
    h3 {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: small;}
    .tabsel {background-color: #336699; color: #ffffff;; font-weight: bold}
    .tabnotsel {background-color: #BBCFE1; color: #000000;; font-weight: bold}


.maintenancebar {
	font-family: verdana, arial, helvetica, sans-serif; 
	font-weight: bold; 
	font-Size: 10pt; 
	color: #ffffff;
	background: #FF0000; 
	background-color: #FF0000;
}

.brandfirst{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#320033; 
	font-weight: bold;
}

.brandsec{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#336699; 
	font-weight: bold;
}


    .productrow1 {font-family: verdana, arial, helvetica, sans-serif; font-size: 8pt; background-color: #DDDDDD; background: #DDDDDD;}
    .productrow2 {font-family: verdana, arial, helvetica, sans-serif; font-size: 8pt; background-color: #EEEEEE; background: #EEEEEE;}
    .header {font-family: verdana, arial, helvetica, sans-serif; font-Size: 9pt; font-weight: bold;; color: #336699}

    .titlerow  {font-family: verdana, arial, helvetica, sans-serif; font-Size: 10pt; background-color: #BBCFE1; background: #BBCFE1;}
    .list  {font-family: verdana, arial, helvetica, sans-serif; font-Size: 8pt;}

    .rowtitle  {font-size: 10pt; color: #ffffff; background-color: #6699CC; font-weight: bold;}
    .list-header  {font-size: 10pt; color: #ffffff; background-color: #6699CC; font-weight: bold;}
    .table-header  {font-size: 10pt; color: #ffffff; background-color: #6699CC; font-weight: bold;}

    .invoiceroweven {font-size: 9pt; background-color: #DDDDDD;}
    .invoicerowodd {font-size: 9pt; background-color: #EEEEEE;}

    .roweven {font-size: 8pt; background-color: #DDDDDD;}
    .rowodd {font-size: 8pt; background-color: #EEEEEE;}
    .rowplain {font-size: 8pt; background-color: #FFFFFF;}

    .form-label {font-size: 8pt; background-color: #DDDDDD;}
    .form-widget {font-size: 8pt; background-color: #EEEEEE;}
    .form-required-mark {color: #FF0000;}

    .rowgreen {font-size:8pt; background-color: #00FF00 }
    .rowyellow {font-size:8pt; background-color: #FFFF00}
    .rowred {font-size:8pt; background-color: #FF0000}

    .form-error {font-size:8pt; color: #FF0000}
    .form-required-mark {font-size:8pt; color: #FF0000}

    .tablebody {font-size: 8pt; background-color: #FFFFFF;}
    .tableheader {font-size: 8pt; background-color: #EEEEEE;}

    .list-even {font-size: 8pt; background-color: #DDDDDD;}
    .list-odd {font-size: 8pt; background-color: #EEEEEE;}
    .list-bold {font-size: 8pt; background-color: #E0E0E0; font-weight: bold }

    .small {font-family: verdana, arial, helvetica, sans-serif; font-Size: xx-small;}
    .vivcomm {color: #006600}
    .fabcomm {color: #000066}
    A.titlerow:link {color: #000000;},   
    A.titlerow:visited {color: #000000;},  
    A.titlerow:active {color: #000000;},  
    A.titlerow:hover  {color: #000000;}
    A.blacklink:link,  A.blacklink:visited, A.blacklink:active, A.blacklink:hover {color: #000000;}
    A.whitelink:link,  A.whitelink:visited, A.whitelink:active, A.whitelink:hover {color: #ffffff;}
    A.paginacion:link, A.paginacion:active, A.paginacion:visited {font-weight: bold; color: #000000; text-decoration: none;}    
    A.paginacion:hover {font-weight: bold; color: #000000; text-decoration: underline;}

    .headerBig {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: small;}
    .rowfilestorage {background-color: #ecf5e5; text-align: left;}

    .contextbar  {
	color: #FFFFFF; 
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: 8pt; 
	font-weight: bold;
    }
    A.contextbar:link, A.contextbar:visited, A.contextbar:active, A.contextbar:hover {
	color: #FFFFFF; 
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: 8pt;
	font-weight: bold;
    }



/* Subsite Name */

#subsite-name { 
  font-weight: bold; 
  font-size: 120%;
  font-family: verdana; 
  padding-left: 8px;
}
a.subsite-name {
  color: black;
  text-decoration: none;
}
a.subsite-name:hover {
  color: black;
  text-decoration: none;
}

/* This wraps everything except site-header and site-footer, and is used to ensure proper margins */
/* Only used on non-tabbed (navbar and subnavbar) pages */

#page-body {
  margin-left: 8px;
  margin-right: 8px;
}



/* Second level tabs */

#subnavbar-div {
  border-bottom: 1px solid #666;
}

#subnavbar-container {
  height: 35px;
  width: 742px;
  position: relative;
}

#subnavbar {
  position: absolute;
  width: 720px;
  height: 21px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  right: 0px;
  bottom: -2px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-weight: bold;
}

html>body #subnavbar { bottom: 0px }

#subnavbar .tab { 
  height: 16px;
  float: left; 
  background-color: #eeeeee; 
  border: 1px solid #666;
  padding: 2px 5px 2px 5px;
  margin: 0px 2px 0px 2px;
}
#subnavbar a {
  text-decoration: none;
  color: black;
}
#subnavbar a:hover {
  text-decoration: underline;
}
#subnavbar #subnavbar-here { 
  border-bottom-color: white;
  background-color: white;
}
#subnavbar #subnavbar-here a {
  color: black;
}


#subnavbar-body { 
  border-bottom: 1px solid #016799;
  border-left: 1px solid #016799;
  border-right: 1px solid #016799;
  background-color: white;
  clear: both;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}


.list-filter {
  font-size: 70%;
  font-family: tahoma,verdana,arial,helvetica;
}
tr.list-filter-selected {
  background-color: #eeeeff;
}
span.list-filter-selected {
  color: black;
}
.list-filter-header {
  font-size: 70%;
  font-family: tahoma,verdana,arial,helvetica;
  font-weight: bold;
}
.list-filter-section {
  font-size: 70%;
  font-family: tahoma,verdana,arial,helvetica;
  font-weight: bold;
  background-color: #bbbbff;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 8px;
}
td.list-filter-pane {
  background-color: #ddddff;
  vertical-align: top;
}


td.list-list-pane {
  background-color: white;
  valign: center;
  padding-left: 10px;
}

table.list-tiny {
  font-family: tahoma, verdana, helvetica;
  font-size: 75%;
  border-collapse: collapse;
}


th.list-narrow a {
  color: black;
}

p.list-row {
  font-family: tahoma, verdana, helvetica;
  font-size: 85%;
}

span.list-label {
  color: #6f6f6f;
}

/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0 - optimized for TabView 
see http://developer.yahoo.com/yui/articles/hosting/?event&dom&element&tabview&MIN#configure to add styles in case other YUI elements are added
*/
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{margin:0 0.5em 0 0;}.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{margin:0 0 0.5em;}.yui-navset .yui-content .yui-hidden{display:none;}.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{width:6em;}.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{width:auto;}.yui-navset .yui-navset-left,.yui-navset-left{padding:0 0 0 6em;}.yui-navset-right{padding:0 6em 0 0;}.yui-navset-top,.yui-navset-bottom{padding:auto;}.yui-nav,.yui-nav li{margin:0;padding:0;list-style:none;}.yui-navset li em{font-style:normal;}.yui-navset{position:relative;zoom:1;}.yui-navset .yui-content{zoom:1;}.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{display:inline-block;display:-moz-inline-stack;*display:inline;vertical-align:bottom;cursor:pointer;zoom:1;}.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{display:block;}.yui-navset .yui-nav a{position:relative;}.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a{display:block;display:inline-block;vertical-align:bottom;zoom:1;}.yui-navset-left .yui-nav li a,.yui-navset-right .yui-nav li a{display:block;}.yui-navset-bottom .yui-nav li a{vertical-align:text-top;}.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em{display:block;}.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{position:absolute;z-index:1;}.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{position:static;}.yui-navset .yui-navset-left .yui-nav,.yui-navset-left .yui-nav{left:0;right:auto;}.yui-navset .yui-navset-right .yui-nav,.yui-navset-right .yui-nav{right:0;left:auto;}.yui-skin-sam .yui-navset .yui-nav,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav{border:solid #2647a0;border-width:0 0 5px;Xposition:relative;zoom:1;}.yui-skin-sam .yui-navset .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav li{margin:0 0.16em 0 0;padding:1px 0 0;zoom:1;}.yui-skin-sam .yui-navset .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected{margin:0 0.16em -1px 0;}.yui-skin-sam .yui-navset .yui-nav a,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a{background:#d8d8d8 url(/intranet/images/sprite.png) repeat-x;border:solid #a3a3a3;border-width:0 1px;color:#000;position:relative;text-decoration:none;}.yui-skin-sam .yui-navset .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em{border:solid #a3a3a3;border-width:1px 0 0;cursor:hand;padding:0.25em .75em;left:0;right:0;bottom:0;top:-1px;position:relative;}.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a:focus,.yui-skin-sam .yui-navset .yui-nav .selected a:hover{background:#2647a0 url(/intranet/images/sprite.png) repeat-x left -1400px;color:#fff;}.yui-skin-sam .yui-navset .yui-nav a:hover,.yui-skin-sam .yui-navset .yui-nav a:focus{background:#bfdaff url(/intranet/images/sprite.png) repeat-x left -1300px;outline:0;}.yui-skin-sam .yui-navset .yui-nav .selected a em{padding:0.35em 0.75em;}.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a em{border-color:#243356;}.yui-skin-sam .yui-navset .yui-content{background:#edf5ff;}.yui-skin-sam .yui-navset .yui-content,.yui-skin-sam .yui-navset .yui-navset-top .yui-content{border:1px solid #808080;border-top-color:#243356;padding:0.25em 0.5em;}.yui-skin-sam .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 5px 0 0;Xposition:absolute;top:0;bottom:0;}.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 0 0 5px;}.yui-skin-sam .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset-right .yui-nav li{margin:0 0 0.16em;padding:0 0 0 1px;}.yui-skin-sam .yui-navset-right .yui-nav li{padding:0 1px 0 0;}.yui-skin-sam .yui-navset-left .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav .selected{margin:0 -1px 0.16em 0;}.yui-skin-sam .yui-navset-right .yui-nav .selected{margin:0 0 0.16em -1px;}.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav a{border-width:1px 0;}.yui-skin-sam .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 0 0 1px;padding:0.2em .75em;top:auto;left:-1px;}.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 1px 0 0;left:auto;right:-1px;}.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-left .yui-nav .selected a,.yui-skin-sam .yui-navset-left .yui-nav a:hover,.yui-skin-sam .yui-navset-right .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav .selected a,.yui-skin-sam .yui-navset-right .yui-nav a:hover,.yui-skin-sam .yui-navset-bottom .yui-nav a,.yui-skin-sam .yui-navset-bottom .yui-nav .selected a,.yui-skin-sam .yui-navset-bottom .yui-nav a:hover{background-image:none;}.yui-skin-sam .yui-navset-left .yui-content{border:1px solid #808080;border-left-color:#243356;}.yui-skin-sam .yui-navset-bottom .yui-nav,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav{border-width:5px 0 0;}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected,.yui-skin-sam .yui-navset-bottom .yui-nav .selected{margin:-1px 0.16em 0 0;}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li,.yui-skin-sam .yui-navset-bottom .yui-nav li{padding:0 0 1px 0;vertical-align:top;}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li a,.yui-skin-sam .yui-navset-bottom .yui-nav li a{}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav a em,.yui-skin-sam .yui-navset-bottom .yui-nav a em{border-width:0 0 1px;top:auto;bottom:-1px;}.yui-skin-sam .yui-navset-bottom .yui-content,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-content{border:1px solid #808080;border-bottom-color:#243356;}
